.main{
	&__sphere{

	}
	&__sphere-wrap{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 70px 0 60px;
		background: #fff;
		@media(max-width: 1200px) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media(max-width: 767px) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.big-block {
			width: calc((100% - 10px) / 2);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-bottom: 10px;
			transition: all .3s;
			@media(max-width: 1200px) {
				width: calc((100% - 10px) / 2);
				margin: 0!important;
				margin-bottom: 10px!important;
			}
			@media(max-width: 767px) {
				width: calc((100% - 10px) / 1);
				margin: 0!important;
				margin-bottom: 10px!important;
			}
			&:nth-child(odd) {
				margin-right: 10px;
			}
			a {
				width: 100%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding-left: 80px;
				font-size: 30px;
				font-weight: 700;
				text-decoration: none;
				@media(max-width: 1700px) {
					font-size: 26px;
					padding-left: 60px;
				}
				@media(max-width: 1400px) {
					font-size: 20px;
					padding-left: 20px;
				}
				@media(max-width: 992px) {
					overflow: hidden;
				}
				@media(max-width: 767px) {
					font-size: 16px;
					padding-left: 15px;
				}
				span {
					// line-height: 224px;
				}
				img {
					@media(max-width: 992px) {
						width: 170px;
						height: 150px;
						// &.big-img {
						// 	height: 150px;
						// 	width: 150px;
						// }
					}
					@media(max-width: 767px) {
						width: 130px;
						&.big-img {
							// height: 90px;
							// width: 90px;
						}
					}
					@media (max-width: $screen-xs-min){
						height: 90px;
						width: 100px;
						&.big-img {
							height: 90px;
							width: 90px;
						}
					}
				}
			}
		}
		.small-block {
			transition: all .3s;
			margin-right: 10px;
			width: calc((100% - 40px) / 5);
			height: 226px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			@media(max-width: 1650px) {
				width: calc((100% - 30px) / 3);
				margin: 0;
				margin-bottom: 10px;
			}
			@media(max-width: 1200px) {
				width: calc((100% - 10px) / 2);
			}
			@media(max-width: 992px) {
				width: 100%;
				margin: 0 !important;
				margin-bottom: 15px!important;
			}
			@media (max-width: $screen-xs-min){
				height: 190px;
			}
			&:last-child {
				margin-right: 0;
				@media(max-width: 1200px) {
					width: 100%;
				}
			}
			a {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				text-decoration: none;
				text-align: center;				
				width: 100%;
				height: 100%;
				span {
					font-size: 20px;
					line-height: 24px;
					font-weight: 700;
					display: inline-block;
					margin-top: 30px;
					@media(max-width: 767px) {
						line-height: 20px;
					}
					@media (max-width: $screen-xs-min){
						margin-top: 15px;
					}
				}
				img {
					margin-top: auto;
				}
			}
		}
		.blue-block {
			background: #0061aa;
			&:hover {
				background: #1681d1;
			}
			a {
				color: #fff;
			}
		}
		.yellow-block {
			background: #ffcc00;
			&:hover {
				background: #ffdb4b;
			}
			a {
				color: #000;
			}
		}		
	}
}